table {
  width: 100%;
  text-align: center;


}
.alumnos{
  text-align: center;
}
.th{

  text-align: center;
  border-right: solid 1px black;
}

.titulos{

  display: grid;

  width: 100%;

  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;





}
.meses{

  display: grid;
  grid-template-columns: 33.2% 33.2% 33.2%;
  grid-template-rows: 100%;

}
input{
  border: solid 1px black;
  width: 30px;
  text-align: center;
}
.mat-elevation-z8{
  margin-top: 55px;

}
.boton{

  display: inline-grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  width: 100%;

margin-top: 50px;

}
.botonsito{
  margin: auto;
  width: 100%;
  height: 50px;
  background: black;
  color: white;
}
.botonsito:hover{
  background: #adbde9;
}
input[type="text"]{

  background: white;
  color: black;
}
input[type="text"][disabled] {
  background: #43475a;
  color: white;
}
