.generalwrap{

  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100vh;
  /*grid-template-areas:
  "side navbar"
  "side dashboard";*/
  overflow: hidden;

}
mat-drawer-container{
  overflow: hidden;
}
mat-drawer{
  overflow: hidden;
}


.side{
  grid-area: side;



}
.navbares{
  grid-area:navbar;


}
.dashboard{
  grid-area: dashboard;
}

