<div id="content" class="p-4 p-md-5">


  <div class="title">

    <div class="navlogout">

      <i class="fas fa-power-off" id="logoutitem" data-toggle="dropdown"></i>


      <div class="dropdown-menu">
        <a class="dropdown-item"  (click)="logout()">Cerrar Sesion</a>

      </div>

    </div>
    <div class="titlecontent" (click)="toggles()">

      <div id="home" >

        <i class="fas fa-home" id="homeitem"></i>
        <div id="title"><span>Home</span></div>
      </div>




    </div>

  </div>





</div>
