<div class="contentwraper">

  <div class="anuncios">
    <ul class="list-group">
      <li class="list-group-item">


        <div class="headercontent">

          <div class="logocontent"></div>
          <div class="titlecontentheader">Colegio colegio colegio</div>

        </div>
        <div class="datacontent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, id qui. Asperiores
          beatae debitis ipsum magnam modi quibusdam repudiandae soluta velit. Adipisci consectetur enim esse laborum
          molestiae non odit. Neque.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consectetur cupiditate deleniti dolor eaque
          eligendi eos eum in itaque iusto maxime obcaecati, odio odit quae quidem quo reprehenderit saepe vitae.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at corporis eveniet exercitationem, fugit id
          incidunt laborum molestias nam nulla officia ratione. Debitis deleniti eum iusto nostrum repudiandae sed vel?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt doloremque nobis non. Adipisci amet
          consequatur doloribus hic inventore laudantium molestiae mollitia odio, officia provident quam quidem ut
          veniam veritatis voluptatem.

        </div>

        <div class="contentcontent">


        </div>


      </li>
      <li class="list-group-item">


        <div class="headercontent">

          <div class="logocontent"></div>
          <div class="titlecontentheader">Colegio colegio colegio</div>

        </div>
        <div class="datacontent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, id qui. Asperiores
          beatae debitis ipsum magnam modi quibusdam repudiandae soluta velit. Adipisci consectetur enim esse laborum
          molestiae non odit. Neque.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consectetur cupiditate deleniti dolor eaque
          eligendi eos eum in itaque iusto maxime obcaecati, odio odit quae quidem quo reprehenderit saepe vitae.
        </div>
        <div class="contentcontent">


        </div>


      </li>
      <li class="list-group-item">


        <div class="headercontent">

          <div class="logocontent"></div>
          <div class="titlecontentheader">Colegio colegio colegio</div>

        </div>
        <div class="datacontent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, id qui. Asperiores
          beatae debitis ipsum magnam modi quibusdam repudiandae soluta velit. Adipisci consectetur enim esse laborum
          molestiae non odit. Neque.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consectetur cupiditate deleniti dolor eaque
          eligendi eos eum in itaque iusto maxime obcaecati, odio odit quae quidem quo reprehenderit saepe vitae.
        </div>
        <div class="contentcontent">


        </div>


      </li>
      <li class="list-group-item">


        <div class="headercontent">

          <div class="logocontent"></div>
          <div class="titlecontentheader">Colegio colegio colegio</div>

        </div>
        <div class="datacontent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, id qui. Asperiores
          beatae debitis ipsum magnam modi quibusdam repudiandae soluta velit. Adipisci consectetur enim esse laborum
          molestiae non odit. Neque.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consectetur cupiditate deleniti dolor eaque
          eligendi eos eum in itaque iusto maxime obcaecati, odio odit quae quidem quo reprehenderit saepe vitae.
        </div>
        <div class="contentcontent">


        </div>


      </li>
      <li class="list-group-item">


        <div class="headercontent">

          <div class="logocontent"></div>
          <div class="titlecontentheader">Colegio colegio colegio</div>

        </div>
        <div class="datacontent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, id qui. Asperiores
          beatae debitis ipsum magnam modi quibusdam repudiandae soluta velit. Adipisci consectetur enim esse laborum
          molestiae non odit. Neque.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consectetur cupiditate deleniti dolor eaque
          eligendi eos eum in itaque iusto maxime obcaecati, odio odit quae quidem quo reprehenderit saepe vitae.
        </div>
        <div class="contentcontent">


        </div>


      </li>
      <li class="list-group-item">


        <div class="headercontent">

          <div class="logocontent"></div>
          <div class="titlecontentheader">Colegio colegio colegio</div>

        </div>
        <div class="datacontent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, id qui. Asperiores
          beatae debitis ipsum magnam modi quibusdam repudiandae soluta velit. Adipisci consectetur enim esse laborum
          molestiae non odit. Neque.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consectetur cupiditate deleniti dolor eaque
          eligendi eos eum in itaque iusto maxime obcaecati, odio odit quae quidem quo reprehenderit saepe vitae.
        </div>
        <div class="contentcontent">


        </div>


      </li>
      <li class="list-group-item">


        <div class="headercontent">

          <div class="logocontent"></div>
          <div class="titlecontentheader">Colegio colegio colegio</div>

        </div>
        <div class="datacontent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, id qui. Asperiores
          beatae debitis ipsum magnam modi quibusdam repudiandae soluta velit. Adipisci consectetur enim esse laborum
          molestiae non odit. Neque.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consectetur cupiditate deleniti dolor eaque
          eligendi eos eum in itaque iusto maxime obcaecati, odio odit quae quidem quo reprehenderit saepe vitae.
        </div>
        <div class="contentcontent">


        </div>


      </li>
      <li class="list-group-item">


        <div class="headercontent">

          <div class="logocontent"></div>
          <div class="titlecontentheader">Colegio colegio colegio</div>

        </div>
        <div class="datacontent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, id qui. Asperiores
          beatae debitis ipsum magnam modi quibusdam repudiandae soluta velit. Adipisci consectetur enim esse laborum
          molestiae non odit. Neque.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consectetur cupiditate deleniti dolor eaque
          eligendi eos eum in itaque iusto maxime obcaecati, odio odit quae quidem quo reprehenderit saepe vitae.
        </div>
        <div class="contentcontent">


        </div>


      </li>
      <li class="list-group-item">


        <div class="headercontent">

          <div class="logocontent"></div>
          <div class="titlecontentheader">Colegio colegio colegio</div>

        </div>
        <div class="datacontent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, id qui. Asperiores
          beatae debitis ipsum magnam modi quibusdam repudiandae soluta velit. Adipisci consectetur enim esse laborum
          molestiae non odit. Neque.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consectetur cupiditate deleniti dolor eaque
          eligendi eos eum in itaque iusto maxime obcaecati, odio odit quae quidem quo reprehenderit saepe vitae.
        </div>
        <div class="contentcontent">


        </div>


      </li>


    </ul>
  </div>
  <div class="data">

    <div class="col-md-11">
      <div class="card-counter success">
        <i class="fas fa-clipboard-list"></i>
        <span class="count-numbers">6875</span>
        <span class="count-name">Promedio Acumulado</span>
      </div>
    </div>

    <div class="col-md-11">
      <div class="card-counter success">
        <i class="fas fa-money-bill-alt"></i>
        <span class="count-numbers">6875</span>
        <span class="count-name">Promedio Acumulado</span>
      </div>
    </div>
    <div class="col-md-11">
      <div class="card-counter success">
        <i class="fas fa-money-bill-alt"></i>
        <span class="count-numbers">0.0.0</span>
        <span class="count-name">Deuda Total</span>
      </div>
    </div>


  </div>
  <div class="cursos">

    <div class="titlecursos">
      <h3>Mis Cursos</h3>
    </div>
    <div class="contentcursos">

      <mat-accordion>


        <mat-expansion-panel (closed)="panelOpenState = false" (opened)="panelOpenState = true"
                             *ngFor="let item of datavalue">
          <mat-expansion-panel-header class="panelexpansion">
            <mat-panel-title>
              <span>{{item.horario.horario}}</span>
            </mat-panel-title>
            <mat-panel-description>
              {{item.miCurso[0].profesor == null ? "Grado" : "Profesor"}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngFor="let curso of item.miCurso">
            <div class="itemcurso">
              <span>{{curso.curso}}</span>
              <span>{{curso.profesor == null ? curso.grado : curso.profesor}}</span>

            </div>
          </div>
        </mat-expansion-panel>

      </mat-accordion>


    </div>


  </div>


</div>
